body {
    background-image: url(/wp7447367-cv-wallpapers.jpg);
    box-sizing: border-box;
}
h2 {
    margin: 0px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
#head {
    
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px  rgb(187, 181, 181)
}
.container {
    background-color: rgba(255, 255, 255, 0.5);
    border-style: outset;
    border-style:outset;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    min-width:350px;
    min-height: 350px;
    margin: 15px auto;
    display: inline-block;
    padding: 40px;
    
}
.education {
    font-weight: bold;
    text-align: center;
}

a:hover {
    background-color: rgb(228, 228, 66);
}
.work-exp {
    font-weight: bold;
    text-align: center;
}
article {
    width: 350px;
}
a {
    display: block;
    text-decoration-color: black;
    text-decoration-line: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

